.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c2c2c; /* Dark background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 70px;
    height: 60px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff; /* Title text color */
    margin: 0;
    margin-left: 10px;
}

.header-menu-link {
    align-items: center;
    text-decoration: none;
    color: #ccc;
    padding: 10px;
    width: 100%;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out; /* Добавлены свойства transition */

&:hover {
     color: #ffffff; /* Цвет изменяется при наведении */
     transform: scale(1.05); /* Увеличение масштаба при наведении */
 }

&:hover span {
     font-weight: 600;
 }
}

