.agreement {
    display: flex;
    align-items: center;
    background-color: #2c2c2c;
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.agreement-image {
    width: 50px;
    height: 50px;
}
.agreements-card{
    width: 300px;
}
.agreement:hover {
    background-color: #282c34;
}

.left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    margin-left: 15px;
}

.agreement-name {
    font-weight: bold;
    color: #999;
    font-size: 14px;
    margin-top: 5px;
}

.agreement-type {
    font-weight: bold;
    font-size: 20px;
}

.right-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.bottom-container {
    display: flex;
    margin-top: 15px;
    align-items: center;
    margin-left: 15px;
}

.create-agr-button {
    margin-left: 40px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.create-agr-button:hover {
    background-color: #000;
}


.agreement-info-button,
.agreement-delete-button {
    margin-left: 10px;
    padding: 8px 15px;
    cursor: pointer;
    background-color: #61dafb;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.agreement-info-button:hover,
.agreement-delete-button:hover {
    background-color: #000;
}

.open-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    max-width: 1500px;
}

.agreements-card {
    background-color: #2e2e2e;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 250px;
    margin: 5px auto;
    gap: 20px;
}

.agreements-cardcard h2 {
    color: white;
    font-size: 23px;
    margin-bottom: 30px;
}

.right-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

